
*{
    margin:0;
    padding:0;
    font-family:'Muli', sans-serif;
}

body{
    background:cadetblue;

}

.navbar{
    border-bottom:5px solid orange;

}
span #logo {
    border:10px double orange;
    box-shadow: 4px 4px 4px black;
    text-shadow: 4px 4px 4px black;
    text-align: center;
    width:auto;
    height:auto;
    line-height: 60px;
    color:white;
    font-size:30px;
    font-weight:bold;
    cursor:pointer;
}

a{  text-decoration: none;}
.btn-group {
    position:relative;
    margin: 5px 10px 5px 5px;
    padding: 1px 10px 5px 5px;
}

.btn {
    background:orange;
    text-shadow: 4px 4px 4px black;
    box-shadow: 4px 4px 4px black;
    padding:8px;
    margin:5px 0px 0px 1%;
    cursor: pointer;
    font-size:20px;
    color:white;
}
.container {
    
    width:100%;
    border-bottom:5px solid orange;
    text-shadow: 6px 6px 8px black;
    font-size:15px;
    line-height: 200%;
    color:white;
    padding:auto;
    margin:auto;
}

#bio{
    font-size:13px;
}

#top-page{
    background:powderblue;
    display:inline-flex;
}

#portfolio{
    display:inline-flex;
    width:auto;
    overflow:auto;
}

.portfolio-image{
    width:80%;
  height: 100px; 
  border:2px solid orange; 
}

#portfolio-wrapper{
    position:relative;
    width: 31%;
    height: auto;
    padding:10px;
    margin:10px;
    border:3px solid orange;
    box-shadow: 5px 5px 10px black;
    text-align:center;
}

#desc{
    font-size:15px;
}

#footer{
    color:white;
    text-align:center;
}

@media only screen and (max-width:460px){
    .btn{
        width:100%;
        font-size:25px;
    }

    #logo{margin-left:40%;
    }

    #portfolio-wrapper{
        display:hidden;
        min-width:100%;
    }
    
}