* {
  margin: 0;
  padding: 0;
  font-family: "Muli", sans-serif;
}

body {
  color: #000000;
}

html {
  width: 100%;
}

.navbar {
  position: fixed;
  top: -25px;
  width: 100%;
  z-index: 1;
  margin: 0 auto;
  padding: 0 auto;
}

.css-typing p {
  border-right: .15em solid orange;
  font-size: 32px;
  font-weight: bolder;
  white-space: nowrap;
  overflow: hidden;
  margin:0 auto;
}

.css-typing p:nth-child(1) {
  width: 10.3em;
  -webkit-animation: type 2s steps(40, end);
  animation: type 2s steps(40, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.css-typing p:nth-child(2) {
  width: 9.8em;
  opacity: 0;
  -webkit-animation: type2 2s steps(40, end);
  animation: type2 2s steps(40, end);
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    border: none;
  }
}
@-webkit-keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}
@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: tranparent;
  }
}

#logo {
  max-width: auto;
  float: left;
  border: 10px double #FFFFFF;
  text-align: center;
  color: #FFFFFF;
  padding: 5px;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 20px;
  margin-top: 8px;
  margin-left: 10px;
}

#logo-large {
  display: block;
  position: relative;
  margin:0 auto;
  border: 10px double #000d4d;
  color: #000d4d;
  box-shadow: 4px 4px 4px #000d4d;
  text-shadow: 4px 4px 4px #000d4d;
  width: 65px;
  white-space: nowrap;
  padding: 1%;
  margin-bottom: 5%;
  height: 65px;
  font-size: 50px;
}

.color-change {
  background: #88b7b9;
  text-shadow: 4px 4px 4px #000000;
  box-shadow: 4px 4px 4px #000000;
  padding: 5px;
  margin: 20px 0px 0px 1%;
  cursor: pointer;
  font-size: 20px;
  color: #FFFFFF;
  border-radius: 10%;
}

a {
  text-decoration: none;
  font-weight: bold;
}

.btn-group {
  clear: both;
  position: relative;
  margin: 15px 10px 5px 10px;
  padding: 25px 10px 20px 5px;
}

.btn {
  background: none;
  text-shadow: 4px 4px 4px #000000;
  box-shadow: 4px 4px 4px #000000;
  padding: 5px;
  margin: 20px 0px 0px 1%;
  cursor: pointer;
  font-size: 20px;
  color: #FFFFFF;
  border-radius: 10%;
}
.container {
  width: 100%;
  font-size: 12px;
  color: #FFFFFF;
}

#profile {
  display:block;
  position:relative;
  border-radius: 50%;
  border: 3px #000d4d solid;
  margin:0 auto;
  left:-5.2%;
  width: 200px;
  height: 200px;
}
#top-container {
  z-index: -1;
  padding-top: 15%;
  height: 150px;
  background: linear-gradient(#000000, cadetblue, #FFFFFF);
  width: 100%;
}

#skill-set h3 {
  font-size: 24px;
  text-align: center;
}

#technologies {
  line-height: 26px;
  margin-top: 60px;
}

#about-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

#about {
  position:relative;
  margin-top: 15%;
  margin-bottom: 0%; 
  text-align:center;
}

#home{
  text-align:center;
}

#skill-set {
  white-space: nowrap;
  margin-left: 80px;
}

#icons {
  float: left;
  margin-top: 50px;
}
img .icons {
  transition: all 1s ease-in-out 0s;
}

.icons:hover {
  cursor: default;
  transform: rotate(360deg);
  transition: all 0.5s ease-in-out 0s;
}

#para {
  position: relative;
  color: #000000;
  padding: 20px;
  font-size: 20px;
  width: 50%;
  margin-left: 16%;
  margin-top: 2%;
}

#about {
  text-align: center;
  color: #000d4d;
  font-size: 40px;
  text-decoration-line: underline;
  margin-bottom: 50px;
}

#port-title {
  text-align: center;
  color: #000d4d;
  font-size: 40px;
  text-decoration-line: underline;
  margin-top:10%;
}

#portfolio {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
  align-content: center;
  width: 100%;
  background: linear-gradient(#FFFFFF, cadetblue);
  background-blend-mode: color;
}

#contact {
  position: relative;
  font-size: 40px;
  text-align: center;
  background: linear-gradient(to top, #000000, cadetblue);
  color: #000d4d;
  text-decoration: underline;
  padding-top: 20%;
}

strong {
  font-size: 30px;
  color: #000000;
  margin: 20px 20px 20px 20px;
}
input {
  font-size: 30px;
  margin-left: 30px;
  width: 50%;
}

#send {
  color: #FFFFFF;
  background-color: #000d4d;
  margin-bottom: 5%;
  width: 200px;
}

textarea {
  width: 50%;
  height: 100px;
  margin-left: 30px;
}

.portfolio-image {
  max-width: 0 auto;
  height: 140px;
  padding-bottom: 5px;
}

.portfolio-wrapper {
  width: 95%;
  border: 2px solid #000000;
  box-shadow: 8px 8px 20px #000000;
  text-align: center;
  border-radius: 20px;
  color: #000000;
  overflow: auto;
  margin: 5% 1% 2% 2%;
  background-color: #FFFFFF;
}

#portfolio-wrapper:hover {
  background: radial-gradient(cadetblue, #FFFFFF, #FFFFFF, lightblue);
}

#desc {
  position: relative;
  font-size: 16px;
  padding-bottom: 20px;
  z-index: 0;
}

#footer {
  background-color: #000d4d;
  color: #FFFFFF;
  text-align: center;
}

#myNav {
  display: none;
}

/*MEDIA CHANGES*/
@media only screen and (max-width: 720px) {
  .btn {
    display: none;
    width: 25%;
    font-size: 12px;
  }
  #about-wrapper {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #para {
    width: 70%;
    margin: 2% 0% 2% 10%;
    text-align: left;
  }

  #profile {
    position: relative;
    margin-top: 7%;
  }

  #top-container {
    z-index: -1;
    padding-top: 20%;
    height: 150px;
    background: linear-gradient(#000000, cadetblue, #FFFFFF);
    width: 100%;
  }

  .hamburger {
    position: relative;
    right: 20px;
    top: 0px;
    width: 40px;
    height: 10px;
    background-color: #FFFFFF;
    margin: 0px 0;
  }

  .color-change {
    background-color: #4672aa;
    position: relative;
    right: 20px;
    top: 0px;
    width: 40px;
    margin: 0px 0;
    padding:0;
    
  }

  .css-typing{
    display:none;
  }

  #bar1 {
    position: fixed;
    top: 30px;
    height: 5px;
  }

  #bar2 {
    position: fixed;
    top: 40px;
    height: 5px;
  }

  #bar3 {
    position: fixed;
    top: 50px;
    height: 5px;
  }

  #menu {
    display: block;
    position: fixed;
    right: 15px;
    top: 20px;
    width: 45px;
    height: 40px;
    z-index: 1;
  }
  #logo-large {
    
    text-align: center;
  
    margin-bottom: 20px;
  }

  #logo {
    display: none;
  }

  .navbar {
    display: none;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 0;
  }


  #portfolio-wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    align-content: center;
    width: 100%;
    background-color: #FFFFFF;
  }

  input {
    width: 80%;
  }

  textarea {
    width: 80%;
  }

  #portfolio {
    display: inline-block;
    padding-bottom: 1%;
  }

  br {
    display: none;
  }

  .icons {
    width: 30px;
  }

  #technologies {
    display: none;
  }

  #skill-set {
    margin: 1% auto;
    padding: 1 auto;
  }

  #myNav {
    display: block;
    height: 0%;
    width: 100%;
  }

  .overlay {
    width: 100%;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    background-color: rgb(6, 98, 134); 
    background-color: rgba(3, 24, 70, 0.9);
    overflow-x: hidden; 
    transition: 0.5s;
  }

  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 25%; 
    width: 100%; 
    text-align: center;
    margin-top: 30px; 
  }

  /* The navigation links inside the overlay */
  .overlay .btn {
    padding: 8px;
    text-decoration: none;
    font-size: 32px;
    color: rgb(154, 202, 241);
    display: block; 
    transition: 0.3s; 
    margin-bottom:100px;
  }

  .overlay .btn:hover,
  .overlay .btn:focus {
    color: #FFFFFF;
    background-color:cadetblue;
  }

  #home-mobile{
    margin-left:25%;
    width:50%;
    border-radius:5%;
  }
  #about-mobile{
    margin-left:25%;
    width:50%;
    border-radius:5%;
  }
  #portfolio-mobile{
    margin-left:25%;
    width:50%;
    border-radius:5%;
  }
  #contact-mobile{
    margin-left:25%;
    width:50%;
    border-radius:5%;
  }

}
